extends layouts/master.pug 

block content
    p dashboard sécu

    form(action='#', method='POST')
        fieldset
            legend.h2.text-warning Research
            label.form-label Sex: 
            select(type='email', name='sex', value='' required)
                option(value=1) F
                option(value=2) M
            label.form-label Age : 
            input(type='number', name='age', value='' required)
            label.form-label Classe : 
            input(type='password', name='password', value='' required)
            br
            input.btn.btn-primary.mt-2(type='submit', value='Submit')
