extends layouts/master.pug 

block content
    p dashboard sécu

    form(action='/dashboard', method='GET')
        fieldset
            legend.h2.text-warning Research
            div.col-md-6
                label.form-label Sex: 
                select.form-select
                    option(selected) Choose the gender...
                    option(value="female") F
                    option(value="male") M

            div.col-md-6
                label.form-label Age : 
                input.form-control(type='number', name='age', value='')
                input(type="radio" id="AgeType1" name="AgeType", value="$gt" required)

            
            div.col-md-6
                label.form-label Classe : 
                select.form-select
                    option(selected) Choose the class...
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
            
            div.col-md-6
                input(type="radio" id="alive" name="alive" value="1")
                label(for="alive") Vivant
                input(type="radio" id="dead" name="alive" value="0")
                label(for="dead") Mort 

            input.btn.btn-primary.mt-2(type='submit', value='Submit')
